body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(34, 34, 34, 1);

    /* Background Image
    background-image: url(img/background.jpg);
    background-position: center center;
    background-attachment: fixed;
    */
}

/* Navigation */
#navigation {
    position: fixed;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.85);
    color: white;
    bottom: 0;
    left: 0;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 100;
}

.icon {
    min-width: 20%;
	padding: 0;
    position: relative;
    color: white; /* Inverted */
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	margin: 0;	 
}

.icon:before {
	content: "";
	display: block;
	padding-top: 60%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

#gallery:before {
    background-image: url(img/navigation/gallery.svg);
    -webkit-filter: invert(100%);
}

#qrscan:before {
    background-image: url(img/navigation/qrscan.svg);
    -webkit-filter: invert(100%);
}

#history:before {
    background-image: url(img/navigation/history.svg);
    -webkit-filter: invert(100%);
}

#more:before {
    background-image: url(img/navigation/more.svg);
    -webkit-filter: invert(100%);
}

@media only screen and (max-width: 600px) {
    .icon {
        padding-top: 5px;
        margin: 5px;
    }

	#history:before {
		background-size: 45% auto;
    }
}

@media only screen and (min-width: 601px) {
	#navigation {
		max-height: 60px;
    }
    
	.icon {
		height: 20px;
		padding-top: 30px;
		min-width: none;
		width: auto;
		background-position: center top;
		background-size: auto 50%;
		background-repeat: no-repeat;
        margin-top: 10px;
        color: black;
    }
    
	.icon:before {
		padding-top: 0;	
    }
    
    #gallery {
        background-image: url(img/navigation/gallery.svg);
        -webkit-filter: invert(100%);
    }
    
    #qrscan {
        background-image: url(img/navigation/qrscan.svg);
        -webkit-filter: invert(100%);
    }
    
    #history {
        background-image: url(img/navigation/history.svg);
        -webkit-filter: invert(100%);
    }
    
    #more {
        background-image: url(img/navigation/more.svg);
        -webkit-filter: invert(100%);
    }
}

/* Top Menu */
#menu {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(49, 49, 49, 0.8);
	width: 100%;	
	color: white;
}


/* Content Area */
#contentHome {
	width: auto;
	padding: 0px 10px 50px;
	color: #FFF;	
}

#contentPage {   
	width: auto;
	padding: 45px 10px 70px;
	color: #FFF;	
}

#content h1 {
	margin-top: 0;
	padding-top: 0;	
	font-weight: 400;
}

#backArrow {
	border-top: 2px solid white;
	border-left: 2px solid white;
	width: 10px;
	height: 10px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);	
    display: inline-block;
    margin-left: 5px;
	margin-bottom: 0px;
}

.backLink {
	color: white;
	text-decoration: none;
}

.menuTitle {
	text-align: center;
	display: block;
    margin-top: -20px;
    margin-right: 20px;
	font-size: 18px;	
}

/* Gallery */
.galleryRow {
    display: block;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    clear: both;
    padding: 5px;
    margin-top: 5px;
}

.galleryRow div {
	display: block;
	float: left;	
}

.galleryRow div h3 {
	padding: 0;
	margin: 0;	
}

.galleryRow img {
	height: 50px;
	width: auto;
	display: block;
	margin-right: 10px;
	float: left;
}

.imageDate {
	font-size:1em;
	padding-right: 10px;
	display: block;
	float: left;
	padding-top: 5px;
}