/* font-family: 'Lato', sans-serif; */
:root {
	--dark: rgb(40, 40, 45); 
	--grey: rgb(56, 54, 67); 
	--lowcontrast: rgb(160, 157, 176); 
	--highlight: rgb(107, 91, 205); 
	--light: rgb(238, 238, 238); 
  }
body{
  background-color: var(--light);
  color: var(--dark);
  font-family: 'Lato', sans-serif;
  line-height: 130%;
}
#navigation {
	z-index: 2;
	position: fixed;
	margin-top: 10px;
	width: 100%;
	height: 44px;
	background-color: var(--grey);
	padding-left: 20%;
}
#navigation ul {
	list-style: none;
	float: left;
}
#navigation ul li {
	list-style: none;
	float: left;
	padding-right: 24px;
}
#navigation ul li a{
	text-decoration: none;
	color: var(--light);
	text-transform: uppercase;
	font-size: 20px;
	line-height: 200%;
  }
  .icon {
	  display: none;
  }
#content {
	z-index: 1;
}
#content h1 {
	padding-top: 15px;
	font-size: 44px;
	line-height: 130%;
}
#content p {
	padding-top: 10px;
	font-size: 16px;
	line-height: 130%;
}
/* Media Query for Desktop specific */
@media (min-width: 801px) {
	#content {
		padding: 54px 20% 0 20%;
	}
}
/* Media Query for Tablet specific */	
@media (max-width: 800px) {
	body{
		background-color: var(--dark);
	}
}
/* Media Query for Mobile specific */
@media (max-width: 600px) {
	body{
		background-color: var(--dark);
		color: var(--light);
	}
	#navigation {
		bottom: 0;
		height: 60px;
		margin: 0;
		padding: 0;
		z-index: 10;
	}
	#navigation ul {
		position: relative;
		left: 4vw;
		list-style: none;
		float: left;
		display: block;
	}
	#navigation ul li {
		list-style: none;
		float: left;
		padding: 12px 24px;
	}
	.navname {
		display: none;
	}
	.icon {
		display: block;
		width: 36px;
		height: auto;
	}
	#content {
		padding: 0px 10px 0px 10px;
	}
	#content h1 {
		font-size: 44px;
	}
	#content h2 {
		font-size: 24px;
	}
	#content p {
		font-size: 16px;
	}
}